
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid black ;
}

.imagee{
    width: 120px;
}

.navItems > ul{
    display: flex;
    list-style-type: none ;
}

.navItems > ul >li{
    padding: 12px;
    /* cursor: pointer; */
}

.RestaurantCard{
    border: 1px solid black;
    width: 250px;
    padding: 20px;
    margin: 10px;
    height: 330px;
    border-radius: 15px;
}

.shimmer-list{
    border: 1px solid black;
    border-radius: 15px;
    width: 250px;
    height: 330px;
    background-color: gray;
    padding: 20px;
    margin: 10px;
}

.immage{
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
}

.shimmer-img{
    width: 100%;
    border: 1px solid dimgray;
    border-radius: 12px;
    height: 157.475px;
}

.tags{
    border: 1px solid black;
    border-radius: 5%;
}

.restaurant-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h3{
    color: gray;
}

#headd{
    color: black;
}

.aRea{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 12px;
    width: 110px;
}
.restArea{
    width: 110px;
    border: 0.5px solid dimgray;
    border-radius: 12px;
    height: 21.6px;

}

.searchBar{
    display: flex;
    justify-content: center;
}


.delTime{
    padding-left: 45px;
    display: inline;
}

.restName{
    width: 100%;
    border: 0.5px solid dimgray;
    height: 27.2px;
}

.restCuisine{
    width: 100%;
    border: 0.5px solid dimgray;
    height: auto;
}


.cost{
    width: auto;
}

.deliTiming{
    width: auto;
}

.ErrorPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuImg{
    width: 250px;
    height: 250px;
}

.Menu{
    display:flex ;
    /* align-items: center; */
    /* justify-content: center; */
}